
<div class="container-fluid">
    
<img src="../assets/abt2.jpg" alt="" width="100%" height="700px">
<div class="centered text-light"><b class="text-center me-5">About Us</b></div>

</div>
<!---->
<div class="container-fluid">
    <div class="row mt-5        ">
        <div class="col-md-2 fs"><h1>about the tour...!</h1></div>
        <div class="col-md-10  "><h4>One of the oldest civilisations in the world, India is a mosaic of multicultural experiences. With a rich heritage and myriad attractions, the country is 
            among the most popular tourist destinations in the world. It covers an area of 32, 87,263 sq. km, extending from the snow-covered 
            Himalayan heights to the tropical rain forests of the south. As the 7th largest country in the world, India stands apart from the rest of Asia, 
            marked off as it is by mountains and the sea, which give the country a distinct geographical entity.
        
             Fringed by the Great Himalayas in the north, it stretches southwards and at the Tropic of 
              Cancer, tapers off into the Indian Ocean between the Bay of Bengal on the east and the Arabian Sea on the west. As you travel the expanse of
               the country, you are greeted by diverse nuances of cuisines, faiths, arts, crafts, music, nature, lands, tribes, history and adventure sports. India has a mesmeric conflation
                of the old and the new. As the bustling 
                old bazaars rub shoulders with swanky shopping malls, and majestic monuments accompany luxurious heritage hotels, the quintessential 
              traveller can get the best of both worlds. Head to the mountains, enjoy a beach retreat or cruise through the golden Thar, India has options galore for all.</h4>
        
        </div>

        
    </div>

</div>

<!---->
<div class="container ">
    <div class="row ">
      <div class=" mt-5"></div>
      <div class="col-md-12 "><h4 class=" f ">to know!</h4></div>
    </div>
  </div>



<!---->
<div class="container-fluid bg-light mt-5">
    <div class="row mt-4">
      <div class="col-md-4  "><img src="../assets/manali (2).jpg " alt="" height="400px" width="100%"></div>
      
      <div class="col-md-1 sec3 " >
        Manali
      </div>
  
      <div class="col-md-7 p-5">
        <h3>Original <span><b>Experience</b></span><br></h3>
  
        <span class="text-danger"><i>Been there recently?</i></span><br>
        
  
        <br>
       <b> Manali is a high-altitude Himalayan resort town in India’s northern 
        Himachal Pradesh state. It has a reputation as a backpacking center and honeymoon destination. Set on the Beas River, it’s a gateway for skiing in the Solang Valley and trekking in Parvati Valley. It's also a jumping-off point for paragliding, rafting and mountaineering 
        in the Pir Panjal mountains, home to 4,000m-high Rohtang Pass.</b>
      <br><br>
      <a href=""><i >Read more..></i></a>
    </div>
      
      
    </div>
      </div>
  
      
      <div class="container-fluid bg-light">
  <div class="row mt-4">
    
    <div class="col-md-4 "><img src="../assets/amritsir.jpg " alt="" height="400px" width="100%"></div>
  
  <div class="col-md-1 sec3">Amritsir</div>
  
  
    
  
  <div class="col-md-7 pt-5 ">
    <h3>Original <span><b>Experience</b></span><br></h3>
  
    <span class="text-danger"><i>Been there recently?</i></span><br>
    
  
    <br>
    <b>Amritsar is a city in the northwestern Indian state of Punjab, 28 kilometers from the border with Pakistan. At the center 
      of its walled old town, the gilded Golden Temple (Harmandir Sahib) is the holiest gurdwara (religious complex) of the Sikh religion. It’s at the end 
      of a causeway, surrounded by the sacred Amrit Sarovar tank (lake), where pilgrims bathe. </b>
  <br><br>
  <a href=""><i >Read more..></i></a>
  </div>
  </div>
      </div>
  
