<div class="container-fluid">
<img src="../assets/ds.jpg" alt="" width="100%" height="700px">
<div class="centered text-light"><b class="text-center me-5 mt-5">Destination</b></div>
</div>
<!---->
<div class="container ">
  <div class="row ">
    <div class="col-md-6 mt-5"><span class="fs colr">Amazing </span><span class="fs-3">Tours And Fun
      Adventures </span><span class="fs "><br>Waiting For You</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque nostrum similique illum quas neque maxime iusto perspiciatis 
        tempora nihil in quisquam, nesciunt itaque, sequi, saepe quae labore eum sint vel?</p>
        </div>
    <div class="col-md-6"><h1 class=" f ">Go!</h1></div>
  </div>
</div>
<!---->
<div class="container-fluid ">
    <h1 class="text-center mt-4">Places To Visit </h1>
    <div class="row mt-4 me-3">
      <div class="col-md-4">
        <div class="thumbnail bordered">
          
            <img src="../assets/d1.jpg" alt="Lights" style="width:100%;" height="300px">
            <div class="caption">
                    <div class="row bg-light">
                        <div class="col-md-6"><h2>Manali</h2></div>
                        <div class="col-md-4 text-left mt-2"><b>RS 26700/-</b></div>
                    </div>
              <p><i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore aperiam fugit nesciunt fuga expedita. Sapiente alias ipsum nobis dolore? Qui similique ipsum possimus enim nam, adipisci inventore at incidunt sunt.
              Similique, quis. Magnam optio fugiat earum dignissimos expedita </i></p>
              <div class="col p-4 text-center">
                <img src="../assets/clock.png" alt="" height="20px" class=" ms-3"> <b>5 days</b>
                <img src="../assets/support.png" alt="" height="20px" class="ms-3"><b>18+</b>
                <img src="../assets/location-pin.png" alt="" height="20px" class="ms-3"><b>Manali</b>

              </div>
              <button class="btn btn-danger mt-2">Book now</button>
            </div>
        
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">

            <img src="../assets/d3.jpg" alt="Nature" style="width:100%;" height="300px">
            <div class="caption">
              <div class="row bg-light">
                  <div class="col-md-6"><h2>Goa</h2></div>
                  <div class="col-md-4 text-left mt-2"><b>RS 27800/-</b></div>
              </div>
        <p><i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore aperiam fugit nesciunt fuga expedita. Sapiente alias ipsum nobis dolore? Qui similique ipsum possimus enim nam, adipisci inventore at incidunt sunt.
        Similique, quis. Magnam optio fugiat earum dignissimos expedita </i></p>
        <div class="col p-4 text-center">
          <img src="../assets/clock.png" alt="" height="20px" class=" ms-3"> <b>4 days</b>
          <img src="../assets/support.png" alt="" height="20px" class="ms-3"><b>18+</b>
          <img src="../assets/location-pin.png" alt="" height="20px" class="ms-3"><b>Goa</b>

        </div>
      </div>
         
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          
            <img src="../assets/d2.jpg" alt="Fjords" style="width:100%" height="300px">
            <div class="caption">
              <div class="row bg-light">
                  <div class="col-md-6"><h2>Malvan</h2></div>
                  <div class="col-md-4 text-left mt-2"><b>RS 36700/-</b></div>
              </div>
        <p><i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore aperiam fugit nesciunt fuga expedita. Sapiente alias ipsum nobis dolore? Qui similique ipsum possimus enim nam, adipisci inventore at incidunt sunt.
        Similique, quis. Magnam optio fugiat earum dignissimos expedita </i></p>
        <div class="col p-4 text-center">
          <img src="../assets/clock.png" alt="" height="20px" class=" ms-3"> <b>3 days</b>
          <img src="../assets/support.png" alt="" height="20px" class="ms-3"><b>18+</b>
          <img src="../assets/location-pin.png" alt="" height="20px" class="ms-3"><b>Malwan</b>

        </div>
      </div>

        </div>
      </div>
    </div>
  </div>
  <br><br>
  
  
  
