<div class="container-fluid">
    
  <img src="../assets/blogs.jpg" alt="" width="100%" height="700px">
<div class="centered text-light"> <span cl  ass="text-center ms-4">Blogs</span>
  
  
  </div>
  <!---->
  <div class="container-fluid ">
    <div class="row ">
      <div class=" mt-5"></div>
      <div class="col-md-12 "><h6 class=" f ">Stories!</h6></div>
    </div>
  </div>

<!---->
<Div class="container-fluid mt-5 ">
    <div class="class row ">
    <div class=" col-md-6  text-center ">
      <img src="../assets/c10.jpg" alt="" width="70%">
    </div>
    <div class=" col-md-6 text-left ">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores adipisci iure ut perspiciatis mollitia facilis quam quia. Quaerat aspernatur nihil quo. Obcaecati perferendis totam magnam labore iste, qui corrupti ea.
      Est quos nostrum dolorem aliquam illo fuga soluta sint dicta! Quidem ducimus dolor, eius eum facilis quod reprehenderit deleniti exercitationem, deserunt dolorem et eos saepe qui asperiores inventore atque beatae.
      Dolores nulla pariatur a, cum maiores deserunt dolorum, illo voluptatibus maxime ratione dolore fugiat, commodi molestiae quos excepturi perferendis porro? Itaque reiciendis repellat consequatur minus magnam. Iure nihil aspernatur cum!
      Cumque saepe beatae voluptate id, in distinctio reprehenderit tempora nobis. Maiores porro explicabo quia esse totam earum sint numquam veritatis veniam, modi voluptatem, hic doloribus dolore molestias mollitia quidem ipsum.
      Maiores architecto sunt nesciunt repudiandae sed, reprehenderit nemo, id enim unde minima, perferendis eaque omnis eum amet corporis dignissimos porro. Impedit numquam quibusdam dolorem iusto nemo omnis quod tempore accusamus.
    
    </div>
    
    <div class=" col-md-6  text-center mt-4">
      <img src="../assets/c2.jpg" alt="" width="70%">
    </div>
    <div class=" col-md-6 text-left mt-4">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores adipisci iure ut perspiciatis mollitia facilis quam quia. Quaerat aspernatur nihil quo. Obcaecati perferendis totam magnam labore iste, qui corrupti ea.
      Est quos nostrum dolorem aliquam illo fuga soluta sint dicta! Quidem ducimus dolor, eius eum facilis quod reprehenderit deleniti exercitationem, deserunt dolorem et eos saepe qui asperiores inventore atque beatae.
      Dolores nulla pariatur a, cum maiores deserunt dolorum, illo voluptatibus maxime ratione dolore fugiat, commodi molestiae quos excepturi perferendis porro? Itaque reiciendis repellat consequatur minus magnam. Iure nihil aspernatur cum!
      Cumque saepe beatae voluptate id, in distinctio reprehenderit tempora nobis. Maiores porro explicabo quia esse totam earum sint numquam veritatis veniam, modi voluptatem, hic doloribus dolore molestias mollitia quidem ipsum.
      Maiores architecto sunt nesciunt repudiandae sed, reprehenderit nemo, id enim unde minima, perferendis eaque omnis eum amet corporis dignissimos porro. Impedit numquam quibusdam dolorem iusto nemo omnis quod tempore accusamus.
    
    </div>
    
    
    <div class=" col-md-6  text-center mt-4 ">
      <img src="../assets/c3.jpg" alt="" width="70%">
    </div>
    <div class=" col-md-6 text-left mt-4">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores adipisci iure ut perspiciatis mollitia facilis quam quia. Quaerat aspernatur nihil quo. Obcaecati perferendis totam magnam labore iste, qui corrupti ea.
      Est quos nostrum dolorem aliquam illo fuga soluta sint dicta! Quidem ducimus dolor, eius eum facilis quod reprehenderit deleniti exercitationem, deserunt dolorem et eos saepe qui asperiores inventore atque beatae.
      Dolores nulla pariatur a, cum maiores deserunt dolorum, illo voluptatibus maxime ratione dolore fugiat, commodi molestiae quos excepturi perferendis porro? Itaque reiciendis repellat consequatur minus magnam. Iure nihil aspernatur cum!
      Cumque saepe beatae voluptate id, in distinctio reprehenderit tempora nobis. Maiores porro explicabo quia esse totam earum sint numquam veritatis veniam, modi voluptatem, hic doloribus dolore molestias mollitia quidem ipsum.
      Maiores architecto sunt nesciunt repudiandae sed, reprehenderit nemo, id enim unde minima, perferendis eaque omnis eum amet corporis dignissimos porro. Impedit numquam quibusdam dolorem iusto nemo omnis quod tempore accusamus.
    
    </div>
    </div>
       </Div>
       <br><br>
    
